# IMPORT THE LIBRARIES

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt
%matplotlib inline

In [ ]:
#Cross Validation Libraries
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Dataset and Task
The dataset is from an online travel agency that tracks their users’ browsing history from search to bookings and payments. The details for the data fields are given in “Data Dictionary.xlsx”. You are required to load the given dataset (“train_small.csv”) and answer the questions in this file. 
You are required to deliver the following: 
-	A report that explains your findings and insights gained throughout the process. 
-	Code and additional material that you have used for your analysis. 
-	Your code should run end-to-end without needing any modifications. 
Question 1
a.	Load the dataset into Python and identify the type of the dataset features and report them. 
b.	Perform summary statistics and explain what issues these statistics reveal.
c.	Perform exploratory analysis to identify any collinearities and explain which issues collinearity causes. 
d.	Identify the issues that are encountered in the dataset. 
e.	Propose and implement the solutions for the issues you have found. The issues listed here are not exhaustive. If you encounter any other issues, please propose and implement solutions for those as well. 
f.	Are there any data privacy and security issues in this dataset? If so, what are they? How would you solve these problems?
Question 2
a.	Calculate Click-Through Rates and Conversion Rates.
b.	How do property review score and property star rating affect click-through and conversion rates? Employ statistical techniques to formally compare the effects of different levels of these variables.
Question 3
a.	This dataset has 3 possible outcome variables: clicked, booking_value and booked. Select one of those variables to model and train a machine learning model of your choice.
b.	You are required to explain the following details:
1.	Which outcome variable did you choose and why? 
2.	Which variables did you include in the initial model? 
3.	Which transformations/pre-processes did you apply? Why did you apply those transformations? What would have happened if you didn't apply those techniques? 
4.	Which machine learning technique did you choose? Why?
5.	Which evaluation metric did you use to optimize the machine learning model? 
6.	Why did you choose it? What are the implications of the final metric value? 
7.	How would you interpret this model? If the model is too complex to be directly interpreted, how would you approach this problem?

In [13]:
df1=pd.read_excel('Data Dictionary.xlsx')

# DATA INPUT

In [2]:
df = pd.read_csv('train_small.csv')

In [3]:
df.tail()

,search_id,timestamp,site_id,user_country_id,user_hist_stars,user_hist_paid,listing_country_id,listing_id,listing_stars,listing_review_score,...,competitor6_price_percent_diff,competitor7_rate,competitor7_has_availability,competitor7_price_percent_diff,competitor8_rate,competitor8_has_availability,competitor8_price_percent_diff,clicked,booking_value,booked
2380552,665573,2013-03-30 16:39:40,5,219,NaN,NaN,219,117267,4,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
2380553,665573,2013-03-30 16:39:40,5,219,NaN,NaN,219,125075,4,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2380554,665573,2013-03-30 16:39:40,5,219,NaN,NaN,219,127402,5,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2380555,665573,2013-03-30 16:39:40,5,219,NaN,NaN,219,128251,3,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2380556,665573,2013-03-30 16:39:40,5,219,NaN,NaN,219,135414,3,4.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0,NaN,0

# PREPROCESSING OF DATA

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2380557 entries, 0 to 2380556
Data columns (total 54 columns):
 #   Column                          Dtype
---  ------                          -----
 0   search_id                       int64
 1   timestamp                       object
 2   site_id                         int64
 3   user_country_id                 int64
 4   user_hist_stars                 float64
 5   user_hist_paid                  float64
 6   listing_country_id              int64
 7   listing_id                      int64
 8   listing_stars                   int64
 9   listing_review_score            float64
 10  is_brand                        int64
 11  location_score1                 float64
 12  location_score2                 float64
 13  log_historical_price            float64
 14  listing_position                int64
 15  price_usd                       float64
 16  has_promotion                   int64
 17  destination_id                  int64
 18  length_of_stay                  int64
 19  booking_window                  int64
 20  num_adults                      int64
 21  num_kids                        int64
 22  num_rooms                       int64
 23  stay_on_saturday                int64
 24  log_click_proportion            float64
 25  distance_to_dest                float64
 26  random_sort                     int64
 27  competitor1_rate                float64
 28  competitor1_has_availability    float64
 29  competitor1_price_percent_diff  float64
 30  competitor2_rate                float64
 31  competitor2_has_availability    float64
 32  competitor2_price_percent_diff  float64
 33  competitor3_rate                float64
 34  competitor3_has_availability    float64
 35  competitor3_price_percent_diff  float64
 36  competitor4_rate                float64
 37  competitor4_has_availability    float64
 38  competitor4_price_percent_diff  float64
 39  competitor5_rate                float64
 40  competitor5_has_availability    float64
 41  competitor5_price_percent_diff  float64
 42  competitor6_rate                float64
 43  competitor6_has_availability    float64
 44  competitor6_price_percent_diff  float64
 45  competitor7_rate                float64
 46  competitor7_has_availability    float64
 47  competitor7_price_percent_diff  float64
 48  competitor8_rate                float64
 49  competitor8_has_availability    float64
 50  competitor8_price_percent_diff  float64
 51  clicked                         int64
 52  booking_value                   float64
 53  booked                          int64
dtypes: float64(34), int64(19), object(1)
memory usage: 980.8+ MB

In [5]:
pd.set_option("display.max_column",2000)

In [6]:
pd.set_option("display.max_row",2000)

In [21]:
df.head()

,search_id,timestamp,site_id,user_country_id,user_hist_stars,user_hist_paid,listing_country_id,listing_id,listing_stars,listing_review_score,is_brand,location_score1,location_score2,log_historical_price,listing_position,price_usd,has_promotion,destination_id,length_of_stay,booking_window,num_adults,num_kids,num_rooms,stay_on_saturday,log_click_proportion,distance_to_dest,random_sort,competitor1_rate,competitor1_has_availability,competitor1_price_percent_diff,competitor2_rate,competitor2_has_availability,competitor2_price_percent_diff,competitor3_rate,competitor3_has_availability,competitor3_price_percent_diff,competitor4_rate,competitor4_has_availability,competitor4_price_percent_diff,competitor5_rate,competitor5_has_availability,competitor5_price_percent_diff,competitor6_rate,competitor6_has_availability,competitor6_price_percent_diff,competitor7_rate,competitor7_has_availability,competitor7_price_percent_diff,competitor8_rate,competitor8_has_availability,competitor8_price_percent_diff,clicked,booking_value,booked
0,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,3625,4,4.0,0,3.22,0.2544,5.98,21,295.0,0,12588,2,46,1,0,1,1,NaN,238.35,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
1,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,11622,4,4.0,0,2.71,NaN,5.64,36,299.0,0,12588,2,46,1,0,1,1,NaN,238.34,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
2,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,11826,5,4.5,1,3.22,0.1924,6.10,22,373.0,1,12588,2,46,1,0,1,1,NaN,238.33,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
3,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,22824,3,4.0,0,3.26,0.3729,5.74,4,329.0,0,12588,2,46,1,0,1,1,NaN,238.29,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,37581,5,4.5,0,3.09,0.2508,6.21,26,600.0,0,12588,2,46,1,0,1,1,NaN,238.35,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [15]:
df1

,ID,Column Name,Data Type,Description
0,1,search_id,Integer,The ID of the search
1,2,timestamp,Date/time,Date and time of the search
2,3,site_id,Integer,"ID of the website point of sale (i.e..com, .co..."
3,4,user_country_id,Integer,The ID of the country the customer is located
4,5,user_hist_stars,Float,The mean star rating of hotels the customer ha...
5,6,user_hist_paid,Float,The mean price per night (in US$) of the hotel...
6,7,listing_country_id,Integer,The ID of the country the hotel is located in
7,8,listing_id,Integer,The ID of the hotel
8,9,listing_stars,Integer,"The star rating of the hotel, from 1 to 5, in ..."
9,10,listing_review_score,Float,The mean customer review score for the hotel o...
10,11,is_brand,Integer,+1 if the hotel is part of a major hotel chain...
11,12,location_score1,Float,A (first) score outlining the desirability of ...
12,13,location_score2,Float,A (second) score outlining the desirability of...
13,14,log_historical_price,Float,The logarithm of the mean price of the hotel o...
14,15,listing_position,Integer,Hotel position on the search results page. Thi...
15,16,price_usd,Float,Displayed price of the hotel for the given sea...
16,17,has_promotion,Integer,+1 if the hotel had a sale price promotion spe...
17,18,booking_value,Float,Total value of the transaction. This can diff...
18,19,destination_id,Integer,ID of the destination where the hotel search w...
19,20,length_of_stay,Integer,Number of nights stay that was searched
20,21,booking_window,Integer,Number of days in the future the hotel stay st...
21,22,num_adults,Integer,The number of adults specified in the hotel room
22,23,num_kids,Integer,The number of (extra occupancy) children speci...
23,24,num_rooms,Integer,Number of hotel rooms specified in the search
24,25,stay_on_saturday,Boolean,"+1 if the stay includes a Saturday night, star..."
25,26,log_click_proportion,Float,The log of the probability a hotel will be cli...
26,27,distance_to_dest,Float,Physical distance between the hotel and the cu...
27,28,random_sort,Boolean,"+1 when the displayed sort was random, 0 when ..."
28,29,competitor1_rate,Integer,+1 if agency has a lower price than competitor...
29,30,competitor1_has_availability,Integer,+1 if competitor 1 does not have availability ...
30,31,competitor1_price_percent_diff,Float,The absolute percentage difference (if one exi...
31,32,competitor2_rate,Integer,"(same, for competitor 2 through 8)"
32,33,competitor2_has_availability,Integer,NaN
33,34,competitor2_price_percent_diff,Float,NaN
34,35,competitor3_rate,Integer,NaN
35,36,competitor3_has_availability,Integer,NaN
36,37,competitor3_price_percent_diff,Float,NaN
37,38,competitor4_rate,Integer,NaN
38,39,competitor4_has_availability,Integer,NaN
39,40,competitor4_price_percent_diff,Float,NaN
40,41,competitor5_rate,Integer,NaN
41,42,competitor5_has_availability,Integer,NaN
42,43,competitor5_price_percent_diff,Float,NaN
43,44,competitor6_rate,Integer,NaN
44,45,competitor6_has_availability,Integer,NaN
45,46,competitor6_price_percent_diff,Float,NaN
46,47,competitor7_rate,Integer,NaN
47,48,competitor7_has_availability,Integer,NaN
48,49,competitor7_price_percent_diff,Float,NaN
49,50,competitor8_rate,Integer,NaN
50,51,competitor8_has_availability,Integer,NaN
51,52,competitor8_price_percent_diff,Float,NaN
52,53,clicked,Boolean,"if the listing is clicked 1, else 0"
53,54,booked,Boolean,"if the listing is booked 1, else 0"

In [7]:
print("No. of rows = ", df.shape[0])
print("No. of columns = ", df.shape[1])

No. of rows =  2380557
No. of columns =  54

In [8]:
print("Number of empty rows = ", df.isnull().all(axis =1).sum())

Number of empty rows =  0

In [9]:
print("Number of empty columns = ", df.isnull().all(axis =0).sum())

Number of empty columns =  0

In [10]:
df.shape

(2380557, 54)

In [17]:
df.nunique()

search_id                          95842
timestamp                          95578
site_id                               34
user_country_id                      192
user_hist_stars                      292
user_hist_paid                      4345
listing_country_id                   166
listing_id                        117378
listing_stars                          6
listing_review_score                  10
is_brand                               2
location_score1                      337
location_score2                     9082
log_historical_price                 381
listing_position                      40
price_usd                          62712
has_promotion                          2
destination_id                     13122
length_of_stay                        33
booking_window                       392
num_adults                             9
num_kids                              10
num_rooms                              8
stay_on_saturday                       2
log_click_proportion              116185
distance_to_dest                  386387
random_sort                            2
competitor1_rate                       3
competitor1_has_availability           3
competitor1_price_percent_diff      1091
competitor2_rate                       3
competitor2_has_availability           3
competitor2_price_percent_diff       467
competitor3_rate                       3
competitor3_has_availability           3
competitor3_price_percent_diff       441
competitor4_rate                       3
competitor4_has_availability           3
competitor4_price_percent_diff       375
competitor5_rate                       3
competitor5_has_availability           3
competitor5_price_percent_diff       494
competitor6_rate                       3
competitor6_has_availability           3
competitor6_price_percent_diff       300
competitor7_rate                       3
competitor7_has_availability           3
competitor7_price_percent_diff       478
competitor8_rate                       3
competitor8_has_availability           3
competitor8_price_percent_diff       377
clicked                                2
booking_value                      39587
booked                                 2
dtype: int64

In [11]:
df.select_dtypes(include='object')

                   timestamp
0        2012-12-31 08:59:22
1        2012-12-31 08:59:22
2        2012-12-31 08:59:22
3        2012-12-31 08:59:22
4        2012-12-31 08:59:22
...                      ...
2380552  2013-03-30 16:39:40
2380553  2013-03-30 16:39:40
2380554  2013-03-30 16:39:40
2380555  2013-03-30 16:39:40
2380556  2013-03-30 16:39:40

[2380557 rows x 1 columns]

In [ ]:
df.select_dtypes(include=['int64','float64']).head()

In [16]:
df.select_dtypes(include=['int64','float64']).head().columns

Index(['search_id', 'site_id', 'user_country_id', 'user_hist_stars',
       'user_hist_paid', 'listing_country_id', 'listing_id', 'listing_stars',
       'listing_review_score', 'is_brand', 'location_score1',
       'location_score2', 'log_historical_price', 'listing_position',
       'price_usd', 'has_promotion', 'destination_id', 'length_of_stay',
       'booking_window', 'num_adults', 'num_kids', 'num_rooms',
       'stay_on_saturday', 'log_click_proportion', 'distance_to_dest',
       'random_sort', 'competitor1_rate', 'competitor1_has_availability',
       'competitor1_price_percent_diff', 'competitor2_rate',
       'competitor2_has_availability', 'competitor2_price_percent_diff',
       'competitor3_rate', 'competitor3_has_availability',
       'competitor3_price_percent_diff', 'competitor4_rate',
       'competitor4_has_availability', 'competitor4_price_percent_diff',
       'competitor5_rate', 'competitor5_has_availability',
       'competitor5_price_percent_diff', 'competitor6_rate',
       'competitor6_has_availability', 'competitor6_price_percent_diff',
       'competitor7_rate', 'competitor7_has_availability',
       'competitor7_price_percent_diff', 'competitor8_rate',
       'competitor8_has_availability', 'competitor8_price_percent_diff',
       'clicked', 'booking_value', 'booked'],
      dtype='object')

In [ ]:
df[''].mode()

In [19]:
df['competitor1_rate'].value_counts()

 1.0    33366
 0.0    20847
-1.0     4797
Name: competitor1_rate, dtype: int64

In [18]:
df['competitor1_rate'].unique()

array([nan,  1., -1.,  0.])

In [22]:
df['competitor1_has_availability'].unique()

array([nan,  0.,  1., -1.])

In [23]:
df['competitor1_has_availability'].value_counts()

 0.0    60480
 1.0     2474
-1.0      708
Name: competitor1_has_availability, dtype: int64

In [26]:
df['competitor1_has_availability'].mode

<bound method Series.mode of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2380552   NaN
2380553   NaN
2380554   NaN
2380555   NaN
2380556   NaN
Name: competitor1_has_availability, Length: 2380557, dtype: float64>

# EDA ANALYSIS

# LAYERS

In [ ]:
model = Sequential()
model.add(Dense(200, input_dim=1, activation='relu'))
model.add(Dense(200, input_dim=200, activation='relu'))
model.add(Dense(200, input_dim=200, activation='relu'))
model.add(Dense(1, activation='linear'))

In [ ]:
keras.optimizers.Adam(lr=0.001, beta_1=0.9,beta_2=1.999,amsgrad=False)
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['mse'])

# DATA DISTRIBUTION

In [ ]:
# Train - Test split
#just drop the outcome columns
#specify  input and output attributes
#X is the input and y is the output
X = 
y =

# CROSS VALIDATION

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [ ]:
from sklearn import linear_model

In [ ]:
max r_score=0
for r_state in range(42,101):
    x_train,y_train,y_train,y_test = train_test_split(x, y, random_state = r_state, test_size=0.20)
    regr=linear_model.LinearRegression
    regr.fit(x_train,y_train)
    y_pred = regr.predict(x_test)
    r2_scr = r2_score(y_test,y_pred)
    print("r2_score corresponding to random state:  ",r_state, " is ",r2_scr)
    if r2_scr>max_r_score:
        max_r_score=r2_scr
        final_r_state=r_state
print()        
print()
print("max r2 score corresponding to ",final_r_state," is ",max_r_score)
#The below output shows that we are getting acceptable level of r2 score in most of the cases and max value is

In [ ]:
#Lets use cross val score function to check above is overfittingfrom sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_val_score
a_score = cross_val_score(linear_model.LinearRegression(),x,y,cv=10,scoring="r2")
a_score
#By cross validatin we come to know that our model is performing ok or if we want to perform it more well than we need more data

# SPLIT THE DATASET

In [ ]:
#Lets make our final model
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = r_state, test_size=0.20)

In [ ]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

In [ ]:
regr=linear_model.LinearRegression()

# FITTING THE DATA IN FINAL MODEL

In [ ]:
regr.fit(X_train,y_train)

# PREDICTION

In [ ]:
y_pred = regr.predict(X_test)

In [ ]:
#Lets find the rmse and r2_score using sklearn.metrics
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
print("RMSE is :",np.sqrt(mean_squared_error(y_test,y_pred)))
print("r2 score is : ",r2_score(y_test,y_pred))

# SAVING THE FILE

In [ ]:
from sklearn.externals import joblib

#Save the model as a pickle in a file
joblib.dumpp(regr,'aaaaa.pkl')